@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');

html,
body {
    margin: 10;
    padding: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    z-index: -10;
    font-family: 'Sarpanch', sans-serif;
}

/* Credits for title to Paul Grant */
h1 {
    grid-area: text;
    font-family: 'Sarpanch', sans-serif;
    font-size: 15vmin;
    margin: 0;
    padding: 30px;
    color: #1d9099;
    text-shadow: 1vmin 1vmin 0 #e79c10, -1vmin -1vmin 0 #d53a33;
}

#start {
    font-size: 20px;
    font-family: 'Sarpanch', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin: 2em;
}

#start::after {
    content: '';
    background-color: #e79c10;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

#start:hover::after {
    top: 0px;
    left: 0px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid black;
}

.grid div {
    width: 15px;
    height: 15px;
    /* background-color: purple; */
}

.pac-dot {
    background-color: green;
    border: 5px solid black;
    box-sizing: border-box;
}

.wall {
    background: blue;
}

/* Heart shaped power pellet */
.heart {
    position: relative;
    width: 10px;
    height: 9px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: '';
    left: 5px;
    top: 0;
    width: 5px;
    height: 8px;
    background: red;
    border-radius: 5px 5px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.blinky {
    background-color: #ff006e;
    border: none;
    border-radius: 35% 35% 0 0;
}
.pinky {
    background-color: hotpink;
    border: none;
    border-radius: 35% 35% 0 0;
}
.inky {
    background-color: rgb(104, 44, 146);
    border: none;
    border-radius: 35% 35% 0 0;
}
.clyde {
    background-color: #858ae3;
    border: none;
    border-radius: 35% 35% 0 0;
}

.scared-ghost {
    border: none;
    border-radius: 35% 35% 0 0;
    background-color: orangered;
}

.pacman::before,
.pacman::after {
    position: absolute;
    content: '';
    display: block;
    height: 0;
    width: 0;
    border: solid 8px yellow;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouthTop 0.5s ease infinite;
}
.pacman::after {
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouthBottom 0.5s ease infinite;
}

@keyframes mouthTop {
    50% {
        transform: rotate(44deg);
    }
}
@keyframes mouthBottom {
    50% {
        transform: rotate(-44deg);
    }
}

#result {
    padding: 2rem;
    font-size: 3rem;
}
