html,
body {
    margin: 10;
    padding: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid black;
}

.grid div {
    width: 15px;
    height: 15px;
    /* background-color: purple; */
}

.pac-dot {
    background-color: green;
    border-radius: 50%;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background: blue;
}

/* Heart shaped power pellet */
.heart {
    position: relative;
    width: 10px;
    height: 9px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: '';
    left: 5px;
    top: 0;
    width: 5px;
    height: 8px;
    background: red;
    border-radius: 5px 5px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.blinky {
    background-color: #ff006e;
    border: none;
    border-radius: 0;
}
.pinky {
    background-color: hotpink;
    border: none;
    border-radius: 0;
}
.inky {
    background-color: indigo;
    border: none;
    border-radius: 0;
}
.clyde {
    background-color: #858ae3;
    border: none;
    border-radius: 0;
}

.scared-ghost {
    border: none;
    border-radius: 0;
    background-color: orangered;
}

/* .pacman {
    background-color: rgb(250, 212, 41);
    border: none;
    
    border-radius: 50%;
} */
.pacman {
    background-color: yellow;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    clip-path: polygon(
        0 0,
        20px 0,
        20px -5px,
        8px 10px,
        20px 25px,
        20px 20px,
        0 20px
    );
    animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
    50% {
        clip-path: polygon(
            0 0,
            20px 0,
            20px 10px,
            8px 10px,
            20px 10px,
            20px 20px,
            0 20px
        );
    }
}
